<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Journal</title>
  </head>
  <body>
    <header>
      <%- include("../partials/nav.ejs") %>
      <div class="greeting">
        <h2>Home</h2>
        <p>
          Welcome to the Daily Journal website. We are excited to see you here.
          Starting writing your journals by clicking the button below and enjoy
          the site!
        </p>
        <button onclick="window.location.href='/journal'" class="btn-compose">
          compose
        </button>
      </div>
    </header>
  </body>
</html>
