<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Journal</title>
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/journal.css" />
  </head>
  <body>
    <header>
      <div class="heading">
        <h1>Daily Journal</h1>
        <nav>
          <ul>
            <li>Home</li>
            <li>About us</li>
            <li>Contact us</li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <h2>Compose</h2>
      <div class="post-container">
        <label for="title">Title</label><br />
        <textarea id="title" name="title"></textarea><br />
        <label for="post">Post</label><br />
        <textarea id="post" name="post"></textarea>
        <button class="btn-submit">Publish</button>
      </div>
    </main>
  </body>
</html>
