* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Arial", sans-serif;
}

li {
  list-style-type: none;
}

button {
  border: none;
  font-family: "Arial", sans-serif;
  cursor: pointer;
  background-color: transparent;
}

.heading {
  background-color: #f2f4f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 21rem;
}

.heading > nav > ul {
  display: flex;
  gap: 1.5rem;
}

.heading > nav li {
  font-size: 1.8rem;
  color: #ababac;
}

h1 {
  font-size: 3rem;
  color: #4f4a49;
}

textarea {
  font-family: "Arial", sans-serif;
  resize: none;
  outline: none;
}
